[WebService]
{% if wtd_cockpit_webserver_Origins %}
Origins = {{ wtd_cockpit_webserver_Origins }}
{% endif %}
{% if wtd_cockpit_webserver_ProtocolHeader %}
ProtocolHeader = {{ wtd_cockpit_webserver_ProtocolHeader }}
{% endif %}
{% if wtd_cockpit_webserver_LoginTo %}
LoginTo = {{ wtd_cockpit_webserver_LoginTo }}
{% endif %}
{% if wtd_cockpit_webserver_LoginTitle %}
LoginTitle = {{ wtd_cockpit_webserver_LoginTitle }}
{% endif %}
{% if wtd_cockpit_webserver_RequireHost %}
RequireHost = {{ wtd_cockpit_webserver_RequireHost }}
{% endif %}
{% if wtd_cockpit_webserver_MaxStartups %}
MaxStartups = {{ wtd_cockpit_webserver_MaxStartups }}
{% endif %}
{% if wtd_cockpit_webserver_AllowUnencrypted %}
AllowUnencrypted = {{ wtd_cockpit_webserver_AllowUnencrypted }}
{% endif %}
{% if wtd_cockpit_webserver_UrlRoot %}
UrlRoot = {{ wtd_cockpit_webserver_UrlRoot }}
{% endif %}

